name: pre-commit

on:
  pull_request:
    branches:
      - master
      - main
      - develop
  push:
    branches:
      - master
      - main
      - develop

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install doctl
      uses: digitalocean/action-doctl@v2.5.1
      with:
        no_auth: 'true'
    - uses: pre-commit/action@v3.0.1
